DATABASE_URL=
PORT=8080
TELEGRAM_API_KEY=
PAYSTACK_SK=
VTPASS_API_SECRET_KEY=
VTPASS_API_KEY=
BREVO_API_KEY=
FLW_SECRET_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
